body{
    background: #397cd3;
    font: normal 15pt Arial;
}
header{
    color: #ffffff;
    text-align: center;
}
div#calculo{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000041;
}
div{
    text-align: center;
    padding: 8px;
}
button, input{
    border: solid 1px #520052;
    border-radius: 7px;
    width: 100px;
    height: 20px;
    margin: 10px;
}
button:hover{
    background-color: brown;
    cursor: pointer;
}
footer{
    color: #ffffff;
    text-align: center;
    font-style: italic;
}